!src/
!.gitignore
!gradlew*
!gradle/
!LICENSE.txt
!README.md
!COPYING.lesser
!build.gradle
.classpath
.gradle/
.project
.settings/
bin/
config/
crash-reports/
logs/
options.txt
saves/
screenshots/
usernamecache.json
