pages=[

          [
              "\n\n\n\n\n",
              "     The Chocopedia\n",
              "       By Clienthax",
          ],
          [
              "Table of Contents\n",
              "\n",
              "I. Chocobos\n",
              "II. In the wild\n",
              "III. Gysahl Greens\n",
              " .1 Gysahl Mutations\n",
              " .2 Gysahl Pickles\n",
              "IV. Domestication\n",
              " .1 Breeding Chocobos\n",
              " .2 Chocobo Colours\n",
              "V. The Nether\n",
              "VI. Chocobo Pen\n",
              "VII. Chocobo Cake\n"
          ],
          [
              "I. Chocobos\n",
              "\n",
              "These large, herbiv- orous birds are largely unable ",
              "to fly, but their powerful legs allow them to run at ",
              "high speeds. Their size and impressive speed make them ",
              "a popular choice when looking for a mount."
          ],
          [
              "Although largely too small to allow real flight, the Chocobo's ",
              "wings enable the birds to glide and avoid fall damage to itself ",
              "and its rider up to a certain hight.",
              "\n",
              "Domesticated Chocobos can be deployed as mounts and transport animals."
          ],
          [
              "There are even reports of desperate adventurers having to rely on their Chocobos as a source of food."
          ],
          [
              "II. In the wild\n",
              "\n",
              "Chocobos, in their yellow variety, found wild ",
              "in most parts of the world. Flocks of mostly three, some- times five ",
              "animals roam free in the wild. How- ever they are very scarce and an ",
              "inter- ested ornithologist would have to search"
          ],
          [
              "wide areas to find a flock."
          ],
          [
              "III. Gysahl Greens\n",
              "\n",
              "The Chocobo's favorite food are Gysahl Greens ",
              "these thick red root vegetables ",
              "can be found growing widespread in all fertile areas. ",
              "These plants can be crafted into seeds. ",
              "The seeds then can be used to domestically grow"
          ],
          [
              "Gysahl Greens on tilted and moisturised land."
          ],
          [
              "III.1 Gysahl Mutations\n\nWhen domestically growing Gysahl Greens, there ",
              "is a chance of the root mutating into a Loverly or even Golden Gysahl. ",
              "These special roots can be feed to two Chocobos of opposite gender, to ",
              "initialise the mating process."
          ],
          [
              "III.2 Gysahl Pickles\n\nGysahl Greens and sugar can be crafted into raw ",
              "Gysahl pickles, which can be cooked in a furnace to receive Gysahl pickles. ",
              "These treats are not only tasty, but also very nourishing."
          ],
          [
              "IV. Domestication\n\nChocobos can be tamed by feeding",
              " them Gysahl Greens, the birds are very fond of the root vegetable and will ",
              "sometimes form a bond to whomever is feeding them their fa- vorite food item. If ",
              "tamed, the owner can fit either a chocobo"
          ],
          [
              "saddle or pack bags on a Chocobo. Fitted with ",
              "a saddle the Chocobo can be additionally equipped with saddle bags. (",
              "&oPack bags and saddle bags can be accessed by shift-right click",
              "&r)."
          ],
          [
              "IV.1 Chocobo Breeding\n\nIf feed with Loverly or Golden Gysahls, Chocobos of ",
              "different gender can be breed to produce an off- spring. These infant Chocobos are ",
              "called Chicobos and even- tually grow into a Chocobo. Besides in- creasing the number"
          ],
          [
              "of Chocobos in a domesticated flock, breeding is the only way ",
              "to obtain the different varieties of Chocobos available. There is a slight chance ",
              "of mutation, which can be in- creased with the use of Golden Gysahls. The following ",
              "combinations of parents can cause"
          ],
          [
              "their offspring to mutate into these subspecies:\n\n",
              "1. ",
              "&6Yellow &0+ &6Yellow\n",
              "&0 = &aGreen &0or &9Blue",
              "&0\n2. ",
              "&aGreen &0+ &9Blue\n",
              "&0 = &7White",
              "&0\n3. ",
              "&6Yellow &0+ &7White\n",
              "&0 = Black",
              "\n4. ",
              "Black + &7White",
              "&0\n = &6Gold"
          ],
          [
              "To enable the off- spring to mutate into a golden ",
              "Chocobo, the use of Golden Gysahls is mandatory."
          ],
          [
              "IV.2 Chocobo Colours\n\n",
              "&6Yellow Chocobos",
              "&0 are the average variety and have no ",
              "clear abilities, they can be used however as fast riding and transport animals.",
              "\n\n",
              "&aGreen Chocobos",
              "&0 have the ability to climb, which means they do"
          ],
          [
              "not have the need to jump when ascending a block level. They are slightly faster ",
              "than their yellow cousins.\n\n",
              "&1 Blue Chocobos",
              "&0 have the ability to travel fast on water. ",
              "Al- though all Chocobos have the ability to swim, the blue ones can do it very ",
              "fast,"
          ],
          [
              "thus are the first choice of transpor- tation when traveling by water route.",
              "\n\n",
              "&7 White Chocobos",
              "&0 have the combined abilities to climb like the green Chocobos ",
              "and to travel fast on water like the blue. In ad- dition they are slightly faster ",
              "than the blue"
          ],
          [
              "or green varieties.\n\n",
              "Black Chocobos",
              " have the ",
              "abilities to jump very hight, climb and travel fast on water. Also they are ",
              "faster than the white ones.\n\n",
              "&6Golden Chocobos",
              "&0 are the fastes variety and are not ",
              "only able to glide like the other"
          ],
          [
              "subspecies, but can fully fly.\n\nAll ",
              "Chocobo sub- species can glide and avoid fall damage up to a certain hight. ",
              "Golden Chocobos don't take fall damage at all."
          ],
          [
              "V. The Nether\n\nThe Nether is popu- lated by a special breed of Chocobo. The ",
              "Purple Chocobos roaming the hostile tunnels and caves of the nether in ",
              "search of the scarce avail- able food. This makes them even harder to find than their yellow"
          ],
          [
              "cousins. Living in the nether had the purple Chocobos develop ",
              "the ability to swim in lava and fly."
          ],
          [
              "VI. Chocobo Pen\n\nAn area covered with straw and equipped with a water filled ",
              "cauldron will count as a Chocobo pen. If a hurt Chocobo stands on the straw ",
              "near the cauldron it will automatically heal over time."
          ],
          [
              "VII. Chocobo Cake\n\nChocobo Cakes can be used to have Chicobos instantly grow up ",
              "into Chocobos.\nRecipe:\nTake an egg, mix it with two units of sugar, two buckets ",
              "of milk and two bundles of grain. Finally garnish it with two Gysahl Greens.\nEnjoy."
          ]

      ]